*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}
.header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 2rem;
}
li a{
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(225, 0, 225));
}
li a:hover::before{
    width: 100%;
}
.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(225, 0, 225));
}
.visit-btn:hover{
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(225, 0, 225));
    transform: scale(1.03);
}
#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.home img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h3{
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.8;
}
.info-box h1{
    font-size: 2.8rem;
    font-weight: 600;
}
.info-box span{
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(225, 0, 225));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.btn-group{
    display: flex;
    gap: 1rem;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2 ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
}
.socials{
    display: flex;
    gap: 0.8rem;
}
.socials i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.socials i:hover{
    transform: scale(1.1);
}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.about img{
    width: 300px;
    border-radius: 2rem;
    flex-shrink: 0;
}
.about-box{
    display: flex;
    max-width: 600px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
@media (max-width: 768px){
    .about-info{
        flex-direction: column;
    }

    .about-info img{
        width: 80%;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    width: 100%;
}
.grid-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.about-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    align-items: center;
    text-align: center;
}
.grid-card:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px)scale(1.02);
}
.about-box span{
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(225, 0, 225));
    background-clip: text;
    margin-bottom: 0.5rem;
    color: transparent;
    font-size: 1rem;
}
.about-box p{
    font-size: 1rem;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: rgb(219, 219, 219);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(225, 0, 225));
    border-radius: 10px;
}

.certificate-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.certificate-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.certificate-card:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px)scale(1.02);
}
.certificate-card img{
    width: 25vw;
    border-radius: 1rem;
}
.certificate-card:hover .btn{
    border: 2px solid black;
    background-color: white;
    color: black;
}
.certificate-card:hover .btn:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
}
.certificate-card h3{
    font-size: 2rem;
    font-weight: 500;
}